* {
    margin: 0;
    padding: 30px;
  box-sizing: border-box;
}



div {
    width: 400px;
    height: 400px;
    background-color: red;
    display: inline-block;
    padding: 30px;

}